<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>centerLatitude</key>
	<real>37.8050315413548</real>
	<key>longitudeDelta</key>
	<real>0.008167393319212121</real>
	<key>latitudeDelta</key>
	<real>0.00978871051851371</real>
	<key>centerLongitude</key>
	<real>-122.413632917219</real>
	<key>boats</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>45.06087791</real>
			<key>longitude</key>
			<real>13.66543978</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.06085371</real>
			<key>longitude</key>
			<real>13.6655806</real>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.06079687</real>
			<key>longitude</key>
			<real>13.66561547</real>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.06071162</real>
			<key>longitude</key>
			<real>13.66566106</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.06067846</real>
			<key>longitude</key>
			<real>13.66567716</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.06057236</real>
			<key>longitude</key>
			<real>13.66574019</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.06050795</real>
			<key>longitude</key>
			<real>13.66583004</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.06047006</real>
			<key>longitude</key>
			<real>13.66592258</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.06110912</real>
			<key>longitude</key>
			<real>13.66634774</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.06107502</real>
			<key>longitude</key>
			<real>13.66642821</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.05055215</real>
			<key>longitude</key>
			<real>13.68505462</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.05051804</real>
			<key>longitude</key>
			<real>13.6852692</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.0506469</real>
			<key>longitude</key>
			<real>13.6851941</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.05079091</real>
			<key>longitude</key>
			<real>13.68575736</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.05081176</real>
			<key>longitude</key>
			<real>13.68588621</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.02414302</real>
			<key>longitude</key>
			<real>13.7015877</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>44.53315367</real>
			<key>longitude</key>
			<real>14.46658963</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>44.53278656</real>
			<key>longitude</key>
			<real>14.46723336</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>44.53272538</real>
			<key>longitude</key>
			<real>14.46774835</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>44.53241946</real>
			<key>longitude</key>
			<real>14.46813458</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>44.52057901</real>
			<key>longitude</key>
			<real>14.50710172</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>44.52302684</real>
			<key>longitude</key>
			<real>14.50474137</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
